<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Developer details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        <h1 class="text-center">ZooStation Developer details</h1>
        <div class="container text-center">
            <a href="index.html" class="btn btn-primary">
                <i class="glyphicon glyphicon-arrow-left"></i>
                Back to search
            </a>
        </div>
    </header>
    <div class="wrapper container">

        <table class="table table-striped table-hover">
            <tr>
                <th>Grade</th>
                <td>junior</td>
            </tr>
            <tr>
                <th>Main programming language</th>
                <td>jave SE</td>
            </tr>
            <tr>
                <th>Second programming language</th>
                <td>Android Native</td>
            </tr>

            <tr>
                <th>Frameworks</th>
                <td>
                    <ul class="list-unstyled">
                        <li>Spring</li>
                        <li>Play! Framework</li>
                        <li>Wicket</li>
                    </ul>
                </td>
            </tr>

            <tr>
                <th>Rating code doctor test</th>
                <td>84%</td>
            </tr>
            <tr>
                <th>Country of origin</th>
                <td>Moldova</td>
            </tr>

            <tr>
                <th>Preferred countries to work in by the developer</th>
                <td>
                    <ul class="list-unstyled">
                        <li>Netherlands</li>
                        <li>Belgium</li>
                        <li>France</li>
                    </ul>
                </td>
            </tr>

            <tr>
                <th>Looking for permanent contract or freelance</th>
                <td>permanent</td>
            </tr>

            <tr>
                <th>VISA needed?</th>
                <td>Yes</td>
            </tr>

            <tr>
                <th>Preferred company type</th>
                <td>mid size</td>
            </tr>

            <tr>
                <th>Experience in developing</th>
                <td>5 years</td>
            </tr>

            <tr>
                <th>Preferred role</th>
                <td>team lead</td>
            </tr>

            <tr>
                <th>Companies worked before</th>
                <td>
                    <p>Google, Microsoft, Yahoo</p>
                </td>
            </tr>

            <tr>
                <th>English level</th>
                <td>4</td>
            </tr>

            <tr>
                <th>Willing to travel</th>
                <td>max - 90 minutes/day </td>
            </tr>

            <tr>
                <th>Preferred place to live in Netherlands</th>
                <td>The Hague and abroad</td>
            </tr>

            <tr>
                <th>Available in</th>
                <td> 2 weeks</td>
            </tr>

            <tr>
                <th>Amount hours working per week</th>
                <td>40</td>
            </tr>

            <tr>
                <th>Reasons to relocate</th>
                <td>Some reasons to relocate</td>
            </tr>

        </table>
        <div class="text-center">
            <button class="btn btn-warning">
                <i class="glyphicon glyphicon-envelope"></i>
                Provide me more info
            </button>
        </div>
    </div>

</body>
</html>