<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <sec:http auto-config="true">
        <sec:intercept-url pattern="/login" method="GET" access="permitAll" />
        <sec:intercept-url pattern="/account/activate" method="GET" access="permitAll" />
        <sec:intercept-url pattern="/account/**" access="hasAnyRole('ROLE_SU', 'ROLE_ADMIN')" />
        <sec:intercept-url pattern="/developer/edit" access="hasAnyRole('ROLE_SU', 'ROLE_ADMIN', 'ROLE_ZS_USER')"/>
        <sec:intercept-url pattern="/developer/delete" access="hasAnyRole('ROLE_SU', 'ROLE_ADMIN')"/>
        <sec:intercept-url pattern="/**" access="isAuthenticated()" /> <!-- For development only -->

        <sec:form-login login-page="/login" login-processing-url="/performlogin" default-target-url="/"
                        authentication-failure-url="/login?error" always-use-default-target="true" authentication-success-forward-url="/"/>
        <sec:logout logout-url="/performlogout" logout-success-url="/login?logout" delete-cookies="JSESSIONID" invalidate-session="true" />
        <sec:remember-me key="rememberme" remember-me-parameter="remember-me" token-validity-seconds="86400"/>
    </sec:http>

    <sec:authentication-manager>
        <sec:authentication-provider user-service-ref="userDetailsService">
            <sec:password-encoder ref="passwordEncoder" />
        </sec:authentication-provider>
    </sec:authentication-manager>

    <context:component-scan base-package="nl.zoostation.database.app.config" />

</beans>